
## Packages to install through pip install requirements.txt
numpy
scipy
pandas
scikit-learn
matplotlib
seaborn
opencv-python==4.1.2.30
pillow
scikit-image
imageio
ffmpeg
tensorflow
tensorboard
setuptools 
cmake
tqdm
progressbar
imutils
telebot
numba
torchmetrics==0.11.1
pytorch-ignite
ray
hydra-core
torchviz
fvcore
munch
iopath
simplejson
fairscale
psutil
timm
transformers
pytorch-lightning
rosbags
bagpy